<div class = "container">
    <div class = "form"#form>
            <div class = "inputs" >
                <p>Nick:</p>
                <input #name class = "nick" type="text">
            </div>
            <div class = "inputs">
                <p>EMail:</p>
                <input #mail class = "email" type="tel">
            </div>
            <div class = "inputs">
                <p>Password:</p>
                <input #pass class = "password" type="password">
            </div>
            <div class = "inputs">
                <button (click)="register();" class = "add">Dodaj</button>
            </div>
    </div>
</div>
